scripts/data
scripts/RQ/references
scripts/RQ/mainfiguresprompts
scripts/RQ/SS26_UE_Master_Thesis_VT_reference_only
scripts/pro_env
scripts/tmp	
scripts/config.json
scripts/pygeodes-config.json
scripts/__pycache__/
pygeodes-config.json
config.json
scripts/quickstart.ipynb
tmp
temp
eda_images/area_to_point_sif_row_filters
eda_images/crop_type
eda_images/stat
eda_images/rq_plots
eda_images/leaflet_maps
eda_images/mgrs_32upu_geometry_diagnostic
eda_images/mgrs_tile_geometry_comparison
scripts/paper